{% extends "main.html" %}
{% load i18n %}

{% block title %}{% trans "Entry " %} {{ entry.id }}{% endblock %}

{% block content %}
<h2>{% trans "Entry " %} {{ entry.id }}</h2>

<ul>
  <li>User: {{ entry.user }}</li>
  <li>Uploaded: {{ entry.uploaded|date:"Y-m-d H:i:s" }}</li>
  <li>Code size: {{ entry.codesize }}b</li>
</ul>

<h2>{% trans "All fights" %}</h2>
<table>
  <tr>
    <th>id</th>
    <th>x</th>
    <th>o</th>
    <th>{% trans "Result (gameplay)" %}</th>
  </tr>
  {% for fight in fights %}
  <tr>
    <td>{{ fight.id }}</td>
    <td>
      {% if fight.x.user != entry.user %}
        <a href="{{ fight.x.get_absolute_url }}">{{ fight.x }}</a>
      {% else %}
        this
      {% endif %}
    </td>
    <td>
      {% if fight.o.user != entry.user %}
        <a href="{{ fight.o.get_absolute_url }}">{{ fight.o }}</a>
      {% else %}
        this
      {% endif %}
    </td>
    <td><a href="{{ fight.get_absolute_url }}">{{ fight.result }}</a></td>
  </tr>
  {% endfor %}
</table>

{% if request.user.is_superuser or request.user == entry.user %}
<h2>{% trans "Code" %} ({{ entry.codesize }}b)</h2>
<pre>
{{ entry.code }}
</pre>
{% endif %}

{% endblock %}
