{% extends "main.html" %}
{% load i18n %}

{% block title %}{% trans "Entry list" %}{% endblock %}

{% block content %}
{% if user %}
  <h2>{% trans "Entries of" %} {% firstof user.first_name user.username %}</h2>
{% else %}
  <h2>{% trans "All entries" %}</h2>
{% endif %}

<table>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Code size</th>
    <th>Uploaded time</th>
  </tr>
  {% for entry in entries %}
  <tr>
    <td><a href="{{ entry.get_absolute_url }}">{{ entry.id }}</a>
      <td>
         <a href="{% url "tictactoe.contest.views.entries" uid=entry.user.id %}">
           {{ entry.user }}
         </a>
       </td>
    <td>{{ entry.codesize|filesizeformat }}</td>
    <td>{{ entry.uploaded|date:"Y-m-d H:i:s" }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
