{% extends "main.html" %}
{% load i18n %}

{% block title %}{% trans "Entry list" %}{% endblock %}

{% block content %}

<table border="1" style="border-collapse: collapse" cellpadding="5px" cellspacing="1">
  <tr>
    <th>User</th>
    <th>Size (bytes)</th>
    <th>Uploaded</th>
    <th>Win</th>
    <th>Draw</th>
    <th>Loss</td>
  </tr>
  {% for latestentry in latestentries %}
  <tr>
    <td>{{ latestentry.user }}</td>
    <td>{{ latestentry.entry.codesize }}</td>
    <td>{{ latestentry.entry.uploaded|date:"y-m-d H:i:s" }}</td>
    <td>{{ latestentry.entry.results.0 }}</td>
    <td>{{ latestentry.entry.results.1 }}</td>
    <td>{{ latestentry.entry.results.2 }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
