{% extends "main.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Fight " %} {{ fight.id }}{% endblock %}

{% block content %}
<h2>{% trans "Fight "%} {{ fight.id }}</h2>

<ul>
  <li>x: <a href="{{ fight.x.get_absolute_url }}">{{ fight.x }}</a></li>
  <li>o: <a href="{{ fight.o.get_absolute_url }}">{{ fight.o }}</a></li>
  <li>{% trans "Result" %}: x {{ fight.get_result_display }}</li>
  <li>Created: {{ fight.created|date:"Y-m-d H:i:s" }}</li>
{% if fight.error %}
  <li>Error: {{ fight.error }}</li>
{% endif %}
</ul>

<table class="board">
  <tr class="row1">
    <td class="col1"></td>
    <td class="col2"></td>
    <td class="col3"></td>
  </tr>
  <tr class="row2">
    <td class="col1"></td>
    <td class="col2"></td>
    <td class="col3"></td>
  </tr>
  <tr class="row3">
    <td class="col1"></td>
    <td class="col2"></td>
    <td class="col3"></td>
  </tr>
</table>

<button id="reset">&lt;&lt;</button>
<button id="backward">&lt;</button>
<button id="forward">&gt;</button>
<button id="fastforward">&gt;&gt;</button>

{% endblock content %}


{% block end_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/fight.css" %}">
{% endblock %}


{% block end_body %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript">
  var gameplay = {{ fight.gameplay }};

  function num_to_coords(n) {
    // 1..81 => x1, y1, x2, y2 minus one.
    var rowm = Math.floor((n - 1) / 9);
    var colm = (n - 1) % 9;
    var x1 = Math.floor(rowm / 3);
    var y1 = Math.floor(colm / 3);
    var x2 = rowm % 3;
    var y2 = colm % 3;
    return [x1, y1, x2, y2];
  }

  function put(what, n) {
    [x1, y1, x2, y2] = num_to_coords(n);
    $("tr.outer").eq(x1).
      find("td.outer").eq(y1).
      find("tr.inner").eq(x2).
      find("td.inner").eq(y2).text(what)
  }


  function flip() {
    xo = xo == 'x' ? 'o' : 'x';
    return xo;
  }

  function forward() {
    if (current_pos >= gameplay.length - 1)
      return;
    put(flip(), gameplay[++current_pos]);
  }

  function backward() {
    flip()
    put("", gameplay[current_pos--]);
  }

  function fastforward() {
    if (current_pos >= gameplay.length)
      board_reset();
    while (current_pos < gameplay.length - 1)
      forward();
  }

  function board_reset() {
    state_reset();
    $("table.board td.inner").text("");
  }

  function state_reset() {
    current_pos = -1;
    xo = 'o';
  }

  function board_init() {
    var tpl = $("table.board").clone().addClass("inner");
    $("table.board, table.board td, table.board tr").addClass("outer");
    tpl.find("tr,td").addClass("inner");
    $("table.outer > tbody > tr > td").html(tpl);
  }

  $(function() {
    state_reset();
    board_init();
    $("#reset").click(board_reset);
    $("#forward").click(forward);
    $("#backward").click(backward);
    $("#fastforward").click(fastforward);
  });

</script>


{% endblock %}
