{% extends "main.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Fight " %} {{ fight.id }}{% endblock %}

{% block content %}
<h2>{% trans "Fight "%} {{ fight.id }}</h2>

<ul>
  <li>x: <a href="{{ fight.x.get_absolute_url }}">{{ fight.x }}</a></li>
  <li>o: <a href="{{ fight.o.get_absolute_url }}">{{ fight.o }}</a></li>
  <li>{% trans "Result" %}: x {{ fight.get_result_display }}</li>
  <li>Created: {{ fight.created|date:"Y-m-d H:i:s" }}</li>
{% if fight.error %}
  <li>Error: {{ fight.error }}</li>
{% endif %}
</ul>

<div id="board_here"></div>

<button id="reset">&lt;&lt;</button>
<button id="backward">&lt;</button>
<button id="forward">&gt;</button>
<button id="fastforward">&gt;&gt;</button>

{% endblock content %}

{% block end_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/board.css" %}">
{% endblock %}


{% block end_body %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
<script type="text/javascript" src="{% static "js/fight.js" %}"></script>
<script type="text/javascript">
    var gameplay = {{ fight.gameplay }};
    var board = new Board(gameplay, $("#board_here"));
    $("#reset").click(function() { board.board_reset() });
    $("#forward").click(function() { board.forward() });
    $("#backward").click(function() { board.backward() });
    $("#fastforward").click(function() { board.fastforward() });
</script>
</script>

{% endblock %}
