{# This template is inherited by everything but admin #}
{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

{% block head %}
    <title>{% block title %}Tic Tac Toe Challenge{% endblock %}</title>
{% endblock %}
<meta charset="utf8">
</head>
<body>
<script type="text/javascript"/>
window.challenge = {};
window.challenge.static_url = '{{ STATIC_URL }}';
</script>
{% block body %}{% endblock %}
{% block end_body %}{% endblock %}
</body>
</html>
