{# This template has header, footer and body #}
{% load i18n %}
{% load staticfiles %}

{% block body %}

<div id="top_wrapper">
  <div id="header">
    Navigation and user info
  </div>

  <div id="content">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </div>

  {# Haha there is no footer #}
</div>

{% endblock body %}
