{# This template is inherited by everything but admin #}
{% load i18n %}
{% load staticfiles %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>

{% block head %}
    <title>{% block title %}Tic Tac Toe Challenge{% endblock %}</title>
{% endblock %}
{% block end_head %}{% endblock %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
<meta charset="utf8">
</head>
<body>
<script type="text/javascript"/>
window.tictactoe = {};
window.tictactoe.static_url = '{{ STATIC_URL }}';
</script>
{% block body %}{% endblock %}
{% block end_body %}{% endblock %}
</body>
</html>
