{# This template has header, footer and body #}
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body %}

<div id="top_wrapper" style="width: 50%; margin-left: auto; margin-right: auto;">
  <div id="header">

    {% if request.user.is_anonymous %}
      You are not logged in.
      <a href="{% url "login" %}">{% trans "Login" %}</a>.
    {% else %}
      Hello, {% firstof user.first_name user.username %}.
      <a href="{% url "logout" %}">{% trans "Logout" %}</a>
    {% endif %}

     <ul id="navbar">
       <li><a href="/">{% trans "Home" %}</a></li>
       <li>
         <a href="{% url "tictactoe.contest.views.upload" %}">
          {% trans "Upload" %}
        </a>
        </li>
       <li>
         <a href="{% url "tictactoe.contest.views.entries" %}">
           {% if request.user.is_superuser %}
          {% trans "All entries" %}
           {% else %}
          {% trans "My entries" %}
          {% endif %}
        </a>
       <li>
         <a href="{% url "tictactoe.contest.views.ranking" %}">
          {% trans "Ranking table" %}
        </a>
        </li>
       <li>
         <a href="{% url "rules" %}">{% trans "Rules" %}</a>
        </li>
     </ul>
  </div>

  <div id="content">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </div>

  {# Haha there is no footer #}
</div><!-- /top_wrapper -->

{% endblock body %}
