{# This template has header, footer and body #}
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block body %}

<div id="top_wrapper">
  <div id="header">
     <ul id="navbar">
       <li><a href="/">{% trans "Home" %}</a></li>
       <li>
         <a href="{% url "tictactoe.contest.views.upload" %}">
          {% trans "Upload" %}
        </a>
        </li>
       <li>
         <a href="{% url "tictactoe.contest.views.entries" %}">
          {% trans "Ranking table" %}
        </a>
        </li>
       {% if request.user.is_anonymous %}
         <li><a href="{% url "login" %}">{% trans "Login" %}</a></li>
       {% else %}
         <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
       {% endif %}
     </ul>
  </div>

  <div id="content">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
  </div>

  {# Haha there is no footer #}
</div>

{% endblock body %}
